In [1]:
import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import sklearn.preprocessing
from sklearn.model_selection import train_test_split
import pandas as pd

from jupyterthemes import jtplot
jtplot.style()

from wrangle import wrangle_telco

In [2]:
#Do your work for these exercises in a jupyter notebook named scaling. Use the telco dataset.
#Once you are finished, you may wish to repeat the exercises on another dataset for additional practice.
train, validate, test = wrangle_telco(split=True)
train.head()

             monthly_charges  tenure  total_charges
customer_id
3396-DKDEL            115.15      70        8250.00
8966-KZXXA             25.10      36         930.95
8857-CUPFQ             19.25      63        1237.65
6901-GOGZG             84.95      60        4984.85
8606-OEGQZ             25.30      18         454.65

In [3]:
#1. Apply the scalers we talked about in this lesson to your data and visualize the results in a way that can.
train.iloc[:,1:]

             tenure  total_charges
customer_id
3396-DKDEL       70        8250.00
8966-KZXXA       36         930.95
8857-CUPFQ       63        1237.65
6901-GOGZG       60        4984.85
8606-OEGQZ       18         454.65
...             ...            ...
6734-JDTTV       65        1267.05
8043-PNYSD       63        1245.60
8314-HTWVE        7         144.15
8221-HVAYI       35        2490.15
9108-EQPNQ       10         225.55

[1179 rows x 2 columns]

In [4]:
#2. Apply the .inverse_transform method to your scaled data. Is the resulting dataset the exact same as the original data?

In [5]:
#3. Read the documentation for sklearn's QuantileTransformer. Use normal for the output_distribution and apply this scaler 
# to your data. Visualize the result of your data scaling.

In [6]:
#4. Use the QuantileTransformer, but omit the output_distribution argument. Visualize your results. What do you notice?

In [7]:
#5. Based on the work you've done, choose a scaling method for your dataset. Write a function within your prepare.py 
# that accepts as input the train, validate, and test data splits, and returns the scaled versions of each. 
# Be sure to only learn the parameters for scaling from your training data!