In [4]:
from wrangle import wrangle_telco

In [5]:
train, validate, test = wrangle_telco()
train.head()

/Users/ken/codeup-data-science/regression-exercises/wrangle.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_charges'] = df.total_charges.astype(float)

             monthly_charges  tenure  total_charges
customer_id
3396-DKDEL            115.15      70        8250.00
8966-KZXXA             25.10      36         930.95
8857-CUPFQ             19.25      63        1237.65
6901-GOGZG             84.95      60        4984.85
8606-OEGQZ             25.30      18         454.65

In [3]:
import prepare

In [6]:
train_scaled, validate_scaled, test_scaled = prepare.scale_data(train,validate,test)
train_scaled.head()

   monthly_charges    tenure  total_charges
0         0.964126  0.971831       0.951173
1         0.066766  0.492958       0.105236
2         0.008470  0.873239       0.140684
3         0.663179  0.830986       0.573786
4         0.068759  0.239437       0.050185